/*讀取中的插圖*/
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img{
    width: 200px;
}
.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }

}

/*背景、非重複、自由伸縮*/
body {
    background-image: url(' https://drive.google.com/uc?export=download&id=1jdbcJJbNV2SygJKt0S8hHBz3ae0LcjbK');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Bar*/
h1 {
    margin: 0;
    padding: 20px 0px;
    color: whitesmoke;
    font-size: 64px;
    font-family: "Apple LiGothic", serif;
    font-weight: initial;
}

h2 {
    margin: 0;
    padding: 45px 15px;
    color: whitesmoke;
    font-size: 32px;
    font-family: "Apple LiGothic", serif;
    font-weight: lighter;
}

.header {
    background: none;
    position:fixed;
    width:1230px;
    height:80px;
    top:20px;
    left:20px;
    z-index:0;
}

.logo {
    background: none;
    position:absolute;
    width:280px;
    height:80px;
    top:0;
    left:0;
    z-index:0;
}

.head {
    background: none;
    position:absolute;
    width:150px;
    height:80px;
    z-index:0;
}

.button1{top:0; left:630px;}
.button2{top:0; left:780px;}
.button3{top:0; left:930px;}
.button4{top:0; left:1080px;}
