/*Loader 讀取中的插圖*/
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img{
    width: 200px;
}
.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }

}

/*Background 背景去邊邊*/
body{ margin: 0; padding: 0; }

/*DWG picture 響應式圖片*/
picture img {
    text-align: center;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    height:auto;
    width:100%;
}

/*Main*/
.projectpic{
    padding-bottom:30px;
}

/*Navbar*/
.navbar-brand
{
    font-family: 'Raleway', sans-serif;
    color:darkgrey;
    font-size: 18px;
    margin: 0;
}

.navbar-brand:hover {
    color:black;
}

.nav-link
{
    font-family: 'Raleway', sans-serif;
    color:darkgrey;
    font-size: 18px;
    margin: 0px;
}

.nav-link:hover {
    color:black;
}

/*Index-Main*/
.index-main {
    position:relative;
    z-index:0;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.index-background {
    position:relative;
    text-align: center;
    z-index:0;
}

.index-title {
    position:relative;
    top: 0;
    left:0;
}

.index-content {
    position:relative;

    top: 0;
    left:0;
}

.index-logo {
    position:relative;
    top: 0;
    left:0;
}
