* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    background: linear-gradient(90deg, #FAD689, #A8D8B9, #A5DEE4);
    font-size:1.2rem;
    font-family: "Apple Braille", sans-serif;
    height: 100%;
}